*{
padding: 10px;
margin: 10px;
color: aquamarine;
background-color: rgb(235, 69, 207);

}
.paragrafo{
   
    background-color:rgb(164, 27, 228);
    border-left: 20px;
    border-top: 20px;
    border-style: groove;
    border-color:rgb(0, 255, 136);
    box-shadow: 0px 20px 5px 10px rgb(0, 219, 110);
padding: 20px;
margin-top: 20px;
margin-left:20px ;
margin-right: 100px;
margin-bottom: 20px;
}
div.bloco{
width: 500px;
height: 100px;
background-color: rgb(162, 0, 255);
padding: 10px;
margin: 100px;
box-shadow: 0px 10px 5px 20px rgb(0, 219, 110);
}
div.bloco2{
width: 500px;
height: 100px;
background-color:rgb(128, 8, 240);
padding: 10px;
margin: 100px;
float:right;
box-shadow: 10px 20px 5px 10px rgb(0, 219, 110);
}
